body {
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
  color: black;
  font-family: montserrat;
  background: #2a7b9b;
  background: #fad1ff;
  background: linear-gradient(
    90deg,
    rgba(250, 209, 255, 1) 0%,
    rgba(255, 240, 252, 1) 50%,
    rgba(255, 247, 173, 1) 98%,
    rgba(237, 221, 83, 1) 100%
  );
}
#logo {
  margin-top: 0.8vh;
  height: 3.5vh;
  float: left;
}

#logo-text {
  display: inline-block;
  float: left;
  font-size: 2.5vh;
  margin: 1vh;
  font-weight: bold;
}

nav {
  text-align: center;
  padding: 0.5vh;
}

.links-board {
  padding-top: 1vh;
  display: inline-block;
  padding-bottom: 1vh;
}

.nav-button {
  color: rgba(0, 0, 0, 0.644);
  text-decoration: none;
  margin: 1vh;
}

.signin-buttons-board {
  margin-top: 0.1vh;
  display: inline-block;
  float: right;
}

button {
  font-size: 1.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 3.5vh;
  border: 1px solid;
  border-color: rgb(220, 224, 228);
}

#login-button {
  color: rgb(255, 255, 255);
  background-color: black;
}
#help-button {
  height: 2.4vh;
  width: 2.4vh;
  border: 1.5px solid;
  border-color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2.1px;
  background: none;
}

main {
  display: block;
  position: relative;
  margin: 5% auto;
  text-align: left;
  border-radius: 8px;
  min-height: 30vh;
  max-width: 100vw;
  padding: 10px;
}

h3 {
  display: inline-block;
}

section button {
  float: right;
  margin: 4px;
  font-weight: bold;
  border: none;
  background-color: azure;
  width: 3.5vh;
}

.right-navigation {
  background-color: rgb(255, 255, 255);
}

article img {
  width: 12vh;
  border-radius: 5px;
}
p {
  display: block;
  margin: 2px;
  text-align: center;
}
article {
  display: inline-block;
}
section {
  margin: 0 auto;
  max-width: 40%;
  margin-bottom: 2vh;
}
.small-images img {
  width: 6vh;
  height: 6vh;
  display: inline-block;
}

.small-images p {
  text-align: left;
  display: inline-block;
  font-size: 2vh;
}
.small {
  width: 48%;
  padding: 4px;
}
