body {
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
  color: black;
  font-family: montserrat;
}
#logo {
  margin-top: 0.8vh;
  height: 3.5vh;
  float: left;
}

#logo-text {
  display: inline-block;
  float: left;
  font-size: 2.5vh;
  margin: 1vh;
  font-weight: bold;
  
}

nav {
  text-align: center;
  padding: 0.5vh;
}

.links-board {
  padding-top: 1vh;
  display: inline-block;
  padding-bottom: 1vh;
}

.nav-button {
  color: rgba(0, 0, 0, 0.644);
  text-decoration: none;
  margin: 1vh;
}

.signin-buttons-board {
  margin-top: 0.1vh;
  display: inline-block;
  float: right;
}



button {
  font-size: 1.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 3.5vh;
  border: 1px solid;
  border-color: rgb(220, 224, 228);
}

#login-button {
  color: rgb(255, 255, 255);
  background-color: black;

}
#help-button {
  height: 2.4vh;
  width: 2.4vh;
  border: 1.5px solid;
  border-color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2.1px;
}

main {
    position: relative;
    margin: 20% 20% 0;
    text-align: center;
    border-radius: 8px;
    min-height: 30vh;
    min-width: 20vw;
    padding: 10px;
}
.input-center {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgb(206, 205, 205);
  padding: 10px;
  text-align: left;
}

#input {
  font-size: 2.3vh;
  border: none;
  width: 98%;;
}

form {
  margin-bottom: 10px;
}

#voice-button {
  background-color: rgb(232, 233, 235);
  border: none;
  float: right;
}